[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.8"

[packages]
celery = "*"
rabbitmq = "*"
gunicorn = "*"
pymongo = "*"
requests = "*"
pyjwt = "*"
random-word-generator = "*"

[packages.falcon-auth]
extras = [ "backend-jwt",]
